BOT_TOKEN=1234567890:replace_with_token_from_BotFather
ADMIN_ID=391992084
DATABASE_PATH=data/bot.sqlite3
PHOTOS_DIR=data/photos
REQUIRED_CHANNEL=@your_information_channel
REQUIRED_CHANNEL_URL=https://t.me/your_information_channel
PAYOUT_CHANNEL=@your_payout_channel
MIN_WITHDRAW=5
TASK_REWARD=0.5
REFERRAL_REWARD=0.5
AD_API_TOKEN=
FLYER_API_KEY=
LOG_LEVEL=INFO